hr {
    border-top: 1px dotted rgb(99, 93, 93);
  }
  .btn{
    width: 70px;
  }
  #jewel{
    border: 1px solid rgb(240, 237, 237);
    background-color: white;
    border-radius: 10px;
  }

  li{
    display: flex;
    gap: 90px;
   font-size: 18px;
  }